# PSP2SPL configuration script
## LV0 persistence for respective enso_ex boot.patch entries
*RESUME # runs only on os resume
LV0_DAT=0x00804D06,21C500000150 # Patch out secure_kernel's self checks (0syscall6)
# LV0_KSP=0x050A,0x00,3300000000000F057701001506030303 # Allow PSPEMU on devkit +more (qaf)
# LV0_KSP=0x0509,0x05,00 # 00 - itu, 01 - devkit, 02 - testkit, ++ retail